<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSpeechUnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NSpeechUnitTests.Properties.Settings>
            <setting name="SpectrumTest" serializeAs="String">
                <value>1500kHz.wav</value>
            </setting>
            <setting name="Silence" serializeAs="String">
                <value>Silence.wav</value>
            </setting>
            <setting name="Speech" serializeAs="String">
                <value>Speech.wav</value>
            </setting>
            <setting name="WhiteNoise" serializeAs="String">
                <value>WhiteNoise.wav</value>
            </setting>
            <setting name="Speech_DifferentDictor" serializeAs="String">
                <value>Speech_DifferentDictor.wav</value>
            </setting>
            <setting name="Speech_DifferentPhrase" serializeAs="String">
                <value>Speech_DifferentPhrase.wav</value>
            </setting>
        </NSpeechUnitTests.Properties.Settings>
    </userSettings>
</configuration>